<h3>Sign In</h3>
<p>user Finn as name and "password" as password for guess account</p>
<form action="<%= session_url %>" method="POST">
<%= form_auth %>
<label for="name">name</label>
<input type="text" name="user[name]" value="<%= @user.name %>" id="name">
<br>
<label for="password">password</label>
<input type="password" name="user[password]" value="" id="password">

<br>

<button>Sing In</button>
</form>

