<h3>Person show page</h3>
<%= user.get('name') %>
<!-- still need the following in jbuilder
post karma, link karma, mod-subs, subscribe sub, posts -->
<div>
moderators of following subs:
</div>

<div>
  subscriber of the following subs:
</div>

<div>
  Post:
</div>
