<div class="reply comment wrapper">
  <button class="reply-comment">reply</button>
  <form class="reply-comment-form hidden">
    <textarea name="comment[body]"></textarea>
    <input type="submit" value="reply comment">
  </form>
</div>
