<h3>all users created so far</h3>
<ul>
<% @user.each do |user| %>
  <li><a href="<%= user_url(user) %>"><%= user.name %></a><%= button_to "delete user", user_url(user) ,method: :delete %></li>
<% end %>

</ul>

<%= link_to "back to create new user", new_user_url%>