<h3>user show page</h3>
<br>
<%= @user.name %>
<br>
<%= link_to "edit user", edit_user_url(@user) %>
<%= button_to "delete user", user_url(@user) ,method: :delete %>
<%= link_to "back to index", users_url %>
<br>
