

<div class="add-padding-left">
<section class="main-body"></section>
<h3>all subreddits</h3>
//create new sub reddit
<table>
    <% subs.forEach( function(sub) { %>
    <tr>
      <td>
        <%= sub.votes %>
      </td>
      <td><li><%= sub.escape('name') %></li></td>
      <td><li><%= sub.escape('description') %></li></td>
    <td>  subscribers</td>

    </tr>
  <% }) %>
</table>


</div>