<ol class="subs-wrapper">

</ol>
<div class="sidebar">
<p class='search-output'>

</p>
  <div class='search-form-container'>
    <form class="search-form">
      <input type="text" name="search_value" value="" class="search-bar">
      <button>search</button>
    </form>
  </div>
  <h3>all subreddits</h3>



  <br>
  <a href="#/subs/new" class="create-new-sub create-button">Create new sub</a>

  <br>
  <h3>subscribed sub</h3>
  <% subs.forEach ( function(sub) { %>

    <% if (sub.escape("is_subscribe") === "true") { %>
      <div>
        <div class='subscribe-container'>
          <% if (sub.escape("is_subscribe") === "true") { %>
            <div class="unsub sub-toggle" data-id="<%= sub.escape('id') %>">unsubscribe</div>
          <% } else { %>
            <div class="sub sub-toggle" data-id="<%= sub.escape('id') %>">subscribe</div>
          <% } %>
        </div>
        <div class="sub-title"><a href="#/subs/<%= sub.escape('id') %>">/r/<%= sub.escape('title') %></a></div>
      </div>
    <% } %>

  <% }) %>
</div>
