<div class="sidebar">
  <h3>Create New Sub</h3>

  <form >

  <table>
    <tr>
      <td><label for="name">name</label></td>
      <td><input type="text" name="sub[name]" id="name"></td>
    </tr>
    <tr>
      <td><label for="title">title</label></td>
      <td><input type="text" name="sub[title]" id="title"></td>
    </tr>
    <tr>
      <td><label for="description">description: </label></td>
      <td><textarea name="sub[description]" id="description"></textarea></td>
    </tr>
  </table>

  <button class='create-button'>Create Sub!</button>
  </form>
</div>
