<h3>Sign In</h3>
<p>user Finn as name and "password" as password for guest account</p>
<form action="<%= sign_ins_url %>" method="POST">
<%= form_auth %>
<label for="name">name</label>
<input type="text" name="user[name]" value="Finn" id="name">
<br>
<label for="password">password</label>
<input type="password" name="user[password]" value="password" id="password">

<br>

<button>Sign In</button>
</form>

