/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*html, body, div, section, nav, li, ul, ol, p{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font: inherit;
  border: none;
  background: none;
}*/
html, body {
  margin: 0;
  padding: 0;
}
ul, ol, li{
  list-style: none;
  margin-bottom: 10px;
}

a:hover {
  color: red;
}
.hidden {
  display: none;
}
li:hover > .hidden {
  display: block;
}
li:hover {
  border: 1px dashed black;
}
li {
  display: block;
}

.vote-wrapper {

  display: block;
  width: 70px;
}
.vote-wrapper > * {
  display:block;

  text-align: center;
}
.clearfix:after {
  content: "";
  display:block;
  clear:both;
}

.login-container {
  border-radius: 5px 5px 0 0;
  background: #F2F7FF;
  padding: 5px;
  position: absolute;
  bottom: 0;
  display: block;

  right: 10px;
  width: 380px;
}
.login-container:hover {
    box-shadow: 0 0 5px 2px black;
}

.login-container > * {
  float: left;
  padding-left: 10px;

}

.header-nav {
  margin: 0;
  background: linear-gradient(#BC2000, #3D0E08);
  box-shadow: 15px 0 100px 10px #3D0E08;
  position: relative;

  height: 80px;

}

.subs-nav > *{
  display: block;
  float: left;
  color: white;
  padding-right: 5px;
}
.subs-nav > a:hover {
  background: lightblue;
  color: red;
}

.sign-in-account {
  position: absolute;
  display: block;
  width: 300px;
  right: 50px;

}

.sign-in-account  * {
  margin: 10px;
}
.comments-wrapper li{
  border: 1px solid black;
  padding-right: 20px;
}

table tr, table td{
  border: 0;
  margin:0;
  padding: 0;
}
table {
  margin-left: 50px;
}

.sidebar {
  padding:0 20px;
  width: 400px;
  display: block;
  float: right;
  background: #F1F3F4;
}
.add-padding-left {
  margin-left: 50px;
}

.body-wrapper {
  width: 1400px;
  margin: 0 auto;
}
.sub-user-container{
  display: block;
  float: left;
}

.user-container{

}
/*
.arrow-up, .arrow-down {
  text-align: center;
}

.arrow-up:hover{
  background: yellow;
}

.arrow-down:hover{
  background: yellow;
}
.vote-count{
  text-align:center;
}


.vote-wrapper {
  border-right: 1px solid gray;
}
.vote-wrapper, .post{
  display: block;
  float: left;
}
.post {
  position: relative;
  border: 1px solid red;
  height:50px;
}

.post-wrapper {
  border: 1px solid blue;
}
.comment-link {
  position: absolute;
  bottom: 0px;
}
*/
