/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*html, body, div, section, nav, li, ul, ol, p{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font: inherit;
  border: none;
  background: none;
}*/
ul, ol, li{
  list-style: none;
  margin-bottom: 10px;
}

/*.hidden {
  display: none;
}*/
li {
  border: 1px solid block;
  display: block;
}

.vote-wrapper {

  display: block;
  width: 70px;
}
.vote-wrapper > * {
  display:block;

  text-align: center;
}
.clearfix:after {
  content: "";
  display:block;
  clear:both;
}

.login-container {
  background: #F2F7FF;
  padding: 5px;
  position: absolute;
  bottom: 0;
  display: block;
  border: 1px solid black;
  right: 10px;
  width: 340px;
}
.login-container > * {
  float: left;
  padding-left: 10px;
}

.header-nav {
  margin: 0;
  background: #D5E2F8;
  position: relative;
  border: 1px solid black;
  height: 80px;
  border-radius: 5px;
}

.subs-nav > *{
  display: block;
  float: left;
  padding-right: 5px;
}
.subs-nav > a:hover {
  background: lightblue;
  color: red;
}

.sign-in-account {
  display: block;
  width: 300px;
  float: right;

}

.sign-in-account  * {
  margin: 10px;
}

/*
.arrow-up, .arrow-down {
  text-align: center;
}

.arrow-up:hover{
  background: yellow;
}

.arrow-down:hover{
  background: yellow;
}
.vote-count{
  text-align:center;
}


.vote-wrapper {
  border-right: 1px solid gray;
}
.vote-wrapper, .post{
  display: block;
  float: left;
}
.post {
  position: relative;
  border: 1px solid red;
  height:50px;
}

.post-wrapper {
  border: 1px solid blue;
}
.comment-link {
  position: absolute;
  bottom: 0px;
}
*/
